{% extends "delivery/base.html" %}
{% block title %}
    <title>Вход</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
        <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-primary text-white">
                    <h3>Войти</h3>
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="id_username" class="form-label">Имя клиента</label>
                            <input type="text" name="username" id="id_username" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="id_password" class="form-label">Пароль</label>
                            <input type="password" name="password" id="id_password" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-success w-100">Войти</button>
                    </form>
                </div>
            </div>
            <p class="text-center mt-3">
                Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}